* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Super Mario 256', sans-serif; 
}

.game-board {
    width: 100%;
    height: 500px;
    border-bottom: 15px solid green;
    position: relative;
    overflow: hidden;
    background: linear-gradient(#87CEEB, #E0F6FF);
}

.pipe {
    position: absolute;
    bottom: 0;
    width: 80px;
    animation: pipe-animation 1.5s infinite linear;
}

.pipe-animation {
    animation: pipe-animation 1.5s infinite linear;
}

.mario {
    position: absolute;
    width: 150px;
    bottom: 0;
}

.jump {
    animation: jump 500ms ease-out;
}

.clouds {
    position: absolute;
    width: 550px;
    animation: clouds 20s infinite linear;
}

.score {
    position: absolute;
    font-size: 25px;
    right: 10rem;
    top: 1rem;
    z-index: 2;
}

.game-over {
    position: absolute;
    left: 35%;
    top: 50%;
}

.title {
    font-size: 55px;
    right: 10rem;
    top: 1rem;
    z-index: 2; 
}

button {
    background-color: #4CAF50;
    /* Green */
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    width: 354px;
    transition-duration: 0.4s;
    cursor: pointer;
    background-color: white;
    color: black;
    border: 2px solid #4CAF50;
}

button:hover {
    background-color: #4CAF50;
    color: white;
}

@keyframes pipe-animation {
    from {
        right: -80px;
    }

    to {
        right: 100%;
    }
}

@keyframes jump {
    0% {
        bottom: 0;
    }

    40% {
        bottom: 180px;
    }

    50% {
        bottom: 180px;
    }

    60% {
        bottom: 180px;
    }

    100% {
        bottom: 0;
    }
}

@keyframes clouds {
    from {
        right: -550px;
    }

    to {
        right: 100%;
    } 
}