body {
    text-align: center;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(41,213,237,1) 0%, rgba(0,255,201,1) 53%);
    font-family: sans-serif;
    font-weight: 100;
}

input {
    padding: 10px;
    cursor: pointer;
    font-weight: 100;
    font-size: 15px;
    background-color: white;
    color: black;
    border: 2px solid #4CAF50;
}

h1 {
    color: #020607;
    font-weight: 100;
    font-size: 40px;
    margin: 40px 0px 20px;
}

#clock {
    font-family: sans-serif;
    color: #fff;
    display: inline-block;
    font-weight: 100;
    text-align: center;
    font-size: 30px;
}

#clock>div {
    padding: 15px;
    border-radius: 3px;
    background: #00BF96;
    display: inline-block;
}

#clock div>span {
    padding: 25px;
    border-radius: 3px;
    background: #01a581;
    display: inline-block;
}

.text {
    padding-top: 5px;
    font-size: 20px;
}

.datetime {
    font-family: sans-serif;
    font-weight: 100;
    text-align: center;
    font-size: 30px;
    padding: 30px;
}

.button {
    background-color: #4CAF50;
    /* Green */
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    width: 254px;
    transition-duration: 0.4s;
    cursor: pointer;
    background-color: white;
    color: black;
    border: 2px solid #4CAF50;
}

.button:hover {
    background-color: #4CAF50;
    color: white;
}